i{
    cursor: pointer;
}
.signupform{
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 23px;
width: 50vw;
    
}
.signupform{
    align-items: center;
}
.login{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}
/* button{
    padding: 10px;
    border-radius: 23px;
}
input,select{
    border-radius: 0.25rem;
} */
#navForm{
    width: auto;
    margin-top: 0;
}
.eye{
    transform: translate(1657px, -33px);
}